docker/data/nodered/flows_poulailler.json
[{"id":"558aa57.345535c","type":"tab","label":"Poulailler","disabled":false,"info":""},{"id":"e9f3f921.b6c428","type":"tab","label":"M5StickCPlus","disabled":false,"info":""},{"id":"201a444d.5c8794","type":"mqtt-broker","z":"","name":"mosquitto","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"de8fc10e.e69fe8","type":"ui_group","z":"","name":"Poulailler","tab":"","disp":true,"width":"6","collapse":false},{"id":"7c1aa235.db4c24","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Metriques du poulailler","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4c635a07.88849c","type":"ui_tab","z":"","name":"Poulailler","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"f920cb1c.1a24c","type":"ui_group","z":"","name":"Temperature","tab":"4c635a07.88849c","order":1,"disp":true,"width":"6","collapse":false},{"id":"24427581.f19a1a","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"poulailler_test","name":"","usetls":false,"tls":""},{"id":"33b99f2d.55e978","type":"ui_group","z":"","name":"Humidite","tab":"4c635a07.88849c","order":2,"disp":true,"width":"6","collapse":false},{"id":"e74d6974.5376c","type":"ui_spacer","name":"spacer","group":"33b99f2d.55e978","order":2,"width":1,"height":1},{"id":"6d2666d0.a8256","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"poulailler","name":"","usetls":false,"tls":""},{"id":"d630a124.44f21","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"test","name":"","usetls":false,"tls":""},{"id":"21135a8a.4aca7e","type":"ui_text","z":"558aa57.345535c","group":"f920cb1c.1a24c","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"col-center","x":890,"y":820,"wires":[]},{"id":"9789bb9c.d6e568","type":"split","z":"558aa57.345535c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":410,"y":680,"wires":[["1e5ac23e.cd4906","864ad499.ab88f8","7e8b470c.111b7"]]},{"id":"5efdbbfd.e76f94","type":"ui_text","z":"558aa57.345535c","group":"33b99f2d.55e978","order":1,"width":0,"height":0,"name":"","label":"Humidite","format":"{{msg.payload}}","layout":"col-center","x":880,"y":1020,"wires":[]},{"id":"ce654295.e6f288","type":"ui_chart","z":"558aa57.345535c","name":"","group":"f920cb1c.1a24c","order":2,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":860,"wires":[[]]},{"id":"b904a661.ea8bf8","type":"ui_gauge","z":"558aa57.345535c","name":"","group":"f920cb1c.1a24c","order":3,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"-20","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":900,"wires":[]},{"id":"1b4f8d62.269783","type":"ui_gauge","z":"558aa57.345535c","name":"","group":"33b99f2d.55e978","order":5,"width":0,"height":0,"gtype":"gage","title":"Humidite","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":1100,"wires":[]},{"id":"ba5660ae.1f63e","type":"ui_chart","z":"558aa57.345535c","name":"","group":"33b99f2d.55e978","order":4,"width":0,"height":0,"label":"Humidite","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":1060,"wires":[[]]},{"id":"9c94eb92.0f72e","type":"delay","z":"558aa57.345535c","name":"rate limit 1 minute","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":910,"y":780,"wires":[["fa4c2b75.d0d25"]]},{"id":"fa4c2b75.d0d25","type":"play audio","z":"558aa57.345535c","name":"","voice":"0","x":1130,"y":780,"wires":[]},{"id":"6b070251.fcab94","type":"mqtt in","z":"558aa57.345535c","name":"","topic":"poulailler/DHT22","qos":"2","datatype":"json","broker":"201a444d.5c8794","x":120,"y":560,"wires":[["60731e2b.0d77e8","7be51b3b.3f0434","9789bb9c.d6e568","139efbdb.86ffb4"]]},{"id":"1dc1a1d0.9b5e56","type":"inject","z":"558aa57.345535c","name":"Sensor1 json injector","topic":"poulailler/sensor_1","payload":"{\"temperature\":6.5, \"humidite\":56.7}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"5","x":160,"y":1180,"wires":[["7be51b3b.3f0434"]]},{"id":"6a065749.142f7","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":1180,"wires":[]},{"id":"2b919bc3.fd5c94","type":"influxdb out","z":"558aa57.345535c","influxdb":"6d2666d0.a8256","name":"","measurement":"metrics","precision":"s","retentionPolicy":"","x":670,"y":1240,"wires":[]},{"id":"7be51b3b.3f0434","type":"function","z":"558aa57.345535c","name":"tagmaker","func":"let topics = msg.topic.split('/');\nmsg.db = topics.shift();\n \ntags = topics.reduce((accumulator, value, index) => {\n     let values = value.split('_');\n     accumulator[values[0]] = values[1];\n     return accumulator;\n },\n {});\n \n msg.payload = [\n     msg.payload,\n     tags,\n     ];\n \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1180,"wires":[["6a065749.142f7"]]},{"id":"155f8ab0.7bea35","type":"inject","z":"558aa57.345535c","name":"Sensor2 json injector","topic":"poulailler/sensor_2","payload":"{\"temperature\":16.5, \"humidite\":156.7}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"5","x":160,"y":1240,"wires":[["7be51b3b.3f0434"]]},{"id":"60731e2b.0d77e8","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":620,"wires":[]},{"id":"1e5ac23e.cd4906","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":680,"wires":[]},{"id":"864ad499.ab88f8","type":"switch","z":"558aa57.345535c","name":"temperature","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":740,"wires":[["c0d01693.974a6","9c94eb92.0f72e","21135a8a.4aca7e","ce654295.e6f288","b904a661.ea8bf8"]]},{"id":"c0d01693.974a6","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":740,"wires":[]},{"id":"7e8b470c.111b7","type":"switch","z":"558aa57.345535c","name":"humidite","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"humidite","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":980,"wires":[["eaf47a73.cee128","5efdbbfd.e76f94","ba5660ae.1f63e","1b4f8d62.269783"]]},{"id":"eaf47a73.cee128","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":980,"wires":[]},{"id":"139efbdb.86ffb4","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":410,"y":560,"wires":[]},{"id":"d1b7a047.14dd","type":"mqtt in","z":"558aa57.345535c","name":"","topic":"poulailler/temperature/#","qos":"2","datatype":"utf8","broker":"201a444d.5c8794","x":140,"y":60,"wires":[["25bb6499.1f56ec","f0987324.9fc61"]]},{"id":"25bb6499.1f56ec","type":"function","z":"558aa57.345535c","name":"Parse Temperature","func":"let [ db, topic, sensor_name, sensor_id ] = msg.topic.split('/');\nmsg.db = db;\n\nlet temperature = parseFloat(msg.payload);\n\n// [How to use a variable for a key in a JavaScript object literal?](https://stackoverflow.com/a/2274327)\nmsg.payload = [\n    { [topic]: temperature },\n    {\n        \"sensor_name\": sensor_name,\n        \"sensor_id\": sensor_id,\n    },\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["565de01d.18ed9","110ba7c3.a8fef8"]]},{"id":"565de01d.18ed9","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":120,"wires":[]},{"id":"f0987324.9fc61","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":60,"wires":[]},{"id":"3b07fa7d.812916","type":"mqtt in","z":"558aa57.345535c","name":"","topic":"poulailler/humidity/#","qos":"2","datatype":"utf8","broker":"201a444d.5c8794","x":130,"y":300,"wires":[["35751008.fb0b1","6c53f32.bbbfc0c"]]},{"id":"35751008.fb0b1","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":300,"wires":[]},{"id":"9a5d6962.3b1518","type":"influxdb out","z":"558aa57.345535c","influxdb":"6d2666d0.a8256","name":"","measurement":"humidity","precision":"s","retentionPolicy":"","x":890,"y":420,"wires":[]},{"id":"6c53f32.bbbfc0c","type":"function","z":"558aa57.345535c","name":"Parse Humidiy","func":"let [ db, topic, sensor_name, sensor_id ] = msg.topic.split('/');\nmsg.db = db;\n\n// [How to use a variable for a key in a JavaScript object literal?](https://stackoverflow.com/a/2274327)\nmsg.payload = [\n    { [topic]: parseFloat(msg.payload) },\n    {\n        \"sensor_name\": sensor_name,\n        \"sensor_id\": sensor_id,\n    },\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["969736b9.f539a8","946e84e2.565a48"]]},{"id":"969736b9.f539a8","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":360,"wires":[]},{"id":"12d40e14.639722","type":"influxdb out","z":"558aa57.345535c","influxdb":"6d2666d0.a8256","name":"","measurement":"temperature","precision":"s","retentionPolicy":"","x":940,"y":180,"wires":[]},{"id":"d5e903b8.eecb9","type":"inject","z":"558aa57.345535c","name":"Sensor 2 temperature injector","topic":"poulailler/temperature/sensor/2","payload":"16.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"5","x":160,"y":120,"wires":[["25bb6499.1f56ec"]]},{"id":"631f2361.ce133c","type":"inject","z":"558aa57.345535c","name":"Sensor 2 humidity injector","topic":"poulailler/humidity/sensor/2","payload":"56.4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"5","x":150,"y":360,"wires":[["6c53f32.bbbfc0c"]]},{"id":"946e84e2.565a48","type":"delay","z":"558aa57.345535c","name":"1 msg / min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":630,"y":420,"wires":[["9a5d6962.3b1518","25ecb5aa.29ccfa"]]},{"id":"110ba7c3.a8fef8","type":"delay","z":"558aa57.345535c","name":"1 msg / min","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":670,"y":180,"wires":[["12d40e14.639722","3e23d8b0.7adbf8"]]},{"id":"3e23d8b0.7adbf8","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":240,"wires":[]},{"id":"25ecb5aa.29ccfa","type":"debug","z":"558aa57.345535c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":480,"wires":[]},{"id":"24377e58.9e0292","type":"mqtt in","z":"e9f3f921.b6c428","name":"","topic":"test/temperature/#","qos":"2","datatype":"utf8","broker":"201a444d.5c8794","x":130,"y":60,"wires":[["1904ffd3.f2137","4f2959d6.2e1e68"]]},{"id":"1904ffd3.f2137","type":"function","z":"e9f3f921.b6c428","name":"Parse Temperature","func":"let [ db, topic, sensor_name, sensor_id ] = msg.topic.split('/');\nmsg.db = db;\n\nlet temperature = parseFloat(msg.payload);\n\n// [How to use a variable for a key in a JavaScript object literal?](https://stackoverflow.com/a/2274327)\nmsg.payload = [\n    { [topic]: temperature },\n    {\n        \"sensor_name\": sensor_name,\n        \"sensor_id\": sensor_id,\n    },\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["bc935703.84fcd8","27d9b753.dbf8d8"]]},{"id":"bc935703.84fcd8","type":"debug","z":"e9f3f921.b6c428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":120,"wires":[]},{"id":"4f2959d6.2e1e68","type":"debug","z":"e9f3f921.b6c428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":410,"y":60,"wires":[]},{"id":"7deb1e9.c1af2e","type":"mqtt in","z":"e9f3f921.b6c428","name":"","topic":"test/humidity/#","qos":"2","datatype":"utf8","broker":"201a444d.5c8794","x":110,"y":300,"wires":[["9f42e82.fdd1518","8ee74bf6.268bd8"]]},{"id":"9f42e82.fdd1518","type":"debug","z":"e9f3f921.b6c428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":300,"wires":[]},{"id":"7dc9e6e8.493348","type":"influxdb out","z":"e9f3f921.b6c428","influxdb":"d630a124.44f21","name":"","measurement":"humidity","precision":"s","retentionPolicy":"","x":880,"y":420,"wires":[]},{"id":"8ee74bf6.268bd8","type":"function","z":"e9f3f921.b6c428","name":"Parse Humidiy","func":"let [ db, topic, sensor_name, sensor_id ] = msg.topic.split('/');\nmsg.db = db;\n\n// [How to use a variable for a key in a JavaScript object literal?](https://stackoverflow.com/a/2274327)\nmsg.payload = [\n    { [topic]: parseFloat(msg.payload) },\n    {\n        \"sensor_name\": sensor_name,\n        \"sensor_id\": sensor_id,\n    },\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":360,"wires":[["4ec7137c.84c89c","a3f540a0.7955e"]]},{"id":"4ec7137c.84c89c","type":"debug","z":"e9f3f921.b6c428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":360,"wires":[]},{"id":"2e5107dd.b42d98","type":"influxdb out","z":"e9f3f921.b6c428","influxdb":"d630a124.44f21","name":"","measurement":"temperature","precision":"s","retentionPolicy":"","x":930,"y":180,"wires":[]},{"id":"de56c57d.a36c68","type":"inject","z":"e9f3f921.b6c428","name":"Sensor 2 temperature injector","topic":"poulailler/temperature/sensor/2","payload":"16.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"5","x":160,"y":120,"wires":[["1904ffd3.f2137"]]},{"id":"2dad59bc.2818f6","type":"inject","z":"e9f3f921.b6c428","name":"Sensor 2 humidity injector","topic":"poulailler/humidity/sensor/2","payload":"56.4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"5","x":150,"y":360,"wires":[["8ee74bf6.268bd8"]]},{"id":"a3f540a0.7955e","type":"delay","z":"e9f3f921.b6c428","name":"1 msg / min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":630,"y":420,"wires":[["7dc9e6e8.493348","997d1083.f2817"]]},{"id":"27d9b753.dbf8d8","type":"delay","z":"e9f3f921.b6c428","name":"1 msg / min","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":670,"y":180,"wires":[["2e5107dd.b42d98","ff6134f6.9ba0f8"]]},{"id":"ff6134f6.9ba0f8","type":"debug","z":"e9f3f921.b6c428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":240,"wires":[]},{"id":"997d1083.f2817","type":"debug","z":"e9f3f921.b6c428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":480,"wires":[]},{"id":"5f90bcc4.1ffc94","type":"mqtt in","z":"e9f3f921.b6c428","name":"","topic":"test/pressure/#","qos":"2","datatype":"utf8","broker":"201a444d.5c8794","x":120,"y":540,"wires":[["1b63d117.0bc17f","e1eec87d.8c8d18"]]},{"id":"1b63d117.0bc17f","type":"debug","z":"e9f3f921.b6c428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":540,"wires":[]},{"id":"c43a4b01.cdcf08","type":"influxdb out","z":"e9f3f921.b6c428","influxdb":"d630a124.44f21","name":"","measurement":"pressure","precision":"s","retentionPolicy":"","x":880,"y":660,"wires":[]},{"id":"e1eec87d.8c8d18","type":"function","z":"e9f3f921.b6c428","name":"Parse Humidiy","func":"let [ db, topic, sensor_name, sensor_id ] = msg.topic.split('/');\nmsg.db = db;\n\n// [How to use a variable for a key in a JavaScript object literal?](https://stackoverflow.com/a/2274327)\nmsg.payload = [\n    { [topic]: parseFloat(msg.payload) },\n    {\n        \"sensor_name\": sensor_name,\n        \"sensor_id\": sensor_id,\n    },\n    ];\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":600,"wires":[["2ca5a4f.3acd65c","f3f502bf.a3fbb"]]},{"id":"2ca5a4f.3acd65c","type":"debug","z":"e9f3f921.b6c428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":600,"wires":[]},{"id":"aef4f69b.f13578","type":"inject","z":"e9f3f921.b6c428","name":"Sensor 2 humidity injector","topic":"poulailler/humidity/sensor/2","payload":"56.4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"5","x":150,"y":600,"wires":[["e1eec87d.8c8d18"]]},{"id":"f3f502bf.a3fbb","type":"delay","z":"e9f3f921.b6c428","name":"1 msg / min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":630,"y":660,"wires":[["c43a4b01.cdcf08","8c6cf1a3.4de98"]]},{"id":"8c6cf1a3.4de98","type":"debug","z":"e9f3f921.b6c428","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":720,"wires":[]}]